<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
</head>
<body>
<div align="center">
<!-- <img src={{pic}}  style="width: 300px; height: 241px, display:inline"> -->
</div>

<div class="title">
<span align="center">
<h3 style="font-weight: bold">
{{merchant.name}}<br/>
</h3>
</span>
</div>

<div class="address">
<span>
<p style="font-style: italic">
消费地址：<span style="color:red">{{merchant.address}}</span>
</p>
</span>
</div>

<div class="intro">
<span>
<p style="font-weight: 100">
商家简介：{{merchant.description}}
</p>
</span>
</div>


<div class="intro">
<span>
<p style="font-weight: 100">
联系方式：{{merchant.phonenumber}}
</p>
</span>
</div>


</body>
</html>
