<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
	<div class="col-sm-12 col-xs-12">
	    <h3>{{commercial_title}}</h3>
	</div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
	    {%if pic%}
            <a href="{{pic}}" >
                <img src="{{pic}}" class="img-thumbnail" >
            </a>
	    {%endif%}
	</div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h4>说明：{{commercial_content}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h4>地址：{{commercial_address}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h4>联系商家：{{commercial_phonenumber}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
	{% if commercial_fromdate %}
	    <small class="text-muted">起始日期：{{commercial_fromdate}}</small>
	{% endif %}
	{% if commercial_enddate %}
	    <small class="text-muted">截止日期：{{commercial_enddate}}</small>
	{% endif %}
	</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12">
<div class="comment" style="border-top: 1px solid #080808">
<label>发表评论</label>
<form action="/appcommercial/addcomment/{{commercial_commercialid}}/" method="post">
<textarea name="commercialcomment" cols="40" rows="3"></textarea>
<input type="submit" value="发布" style="float: right"/>
</form>
</div> <!-- end comment div -->
        </div>
    </div>
    <div class="row">
        <hr align="center" color="#987cb9" size="4" />
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
              <small class="text-muted">评论:{{comments_size}}条</small>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12">
        {% for comment in comments %}
                <div class="row">
                        <hr align="center" color="#987cb9" size="4" />
                </div>
                <div class="row">
                        <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                                <h4>{{comment.from_user.username}}</h4>
                                                <small class="text-muted">{{comment.create_time}}</small>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                                <h4>{{comment.comment}}</h4>
                                        </div>
                                </div>
                        </div>
                </div>
        {% endfor %}
        </div>
    </div>

</div>

</body>
</html>
